include part/b-tab

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="output.js" inline)
    link(href="bootstrap.css" rel="stylesheet" inline)
    title POS
body
  div(x-data="printer")
    +b-tab
      div(x-data="{ptab:2, cart: cart()}")
        ul.nav.nav-tabs
          li.nav-item: a.nav-link(href="#" @click="ptab=0" :class="{active: ptab == 0}") Search
          li.nav-item: a.nav-link(href="#" @click="ptab=1" :class="{active: ptab == 1}")
            | Cart 
            span.badge.bg-danger(x-show="cart.items.length > 0")= cart.items.length 
          li.nav-item: a.nav-link(href="#" @click="ptab=2" :class="{active: ptab == 2}")
            | Bill 
            span.badge.bg-danger(x-show="cart.items.length > 0")= cart.total.toString()
        div(x-show="ptab == 0"): include part/searchPage
        div(x-show="ptab == 1"): include part/cartPage
        div(x-show="ptab == 2"): include part/billPage
  script(src="alphine.js" inline defer)